/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 30px;
  text-align: center;
  background: brown;
  color: white;
  font-size: 20px;
}


/* Page Content */
.content {padding:20px;}

/* Degree Major */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #D3D3D3;
  transition: 0.3s;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

/* About Me Section */
.container {padding:20px;};

.footer { 
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
  margin: 0 auto;
}





